<div id="wrapper">
    <!-- Sidebar -->
    
    <app-sidebar></app-sidebar>
    

    
<!-- Content Wrapper -->
<div id="content-wrapper" class="d-flex flex-column">

    <!-- Main Content -->
    <div id="content">

        <app-topbar></app-topbar>

        <!-- Begin Page Content -->
        <div class="container-fluid">

            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Docubase</h1>
            <p class="mb-4">Listes des licences Docubase</p>
            <div class="mb-4">
                <a [routerLink]="['/license/docubase/add']" class="btn btn-sm btn-primary shadow-sm"><i
                    class="fas fa-plus fa-sm text-white-50"></i><span class="ml-2">Ajouter une licence</span></a> 
            </div>
                         
            <!-- DataTales Example -->
            <div class="card shadow mb-4">
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Données</h6>
                </div>
                <div class="card-body">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example" width="100%" cellspacing="0">
                            <thead>
                                <tr>
                                    <th>Id</th>
                                    <th>N°Licence</th>
                                    <th>Nom Client</th>
                                    <th>Pays</th>
                                    <th>Type Licence</th>
                                    <th>Date Acquisition</th>
                                    <th>Date Expiration</th>
                                    <th>Objet</th>
                                    <th>Action</th>
                                    
                                </tr>
                            </thead>
                        
                            <tbody>
                                <tr *ngFor="let license of docubaseLicenses">
                                    <td>{{ license.id }}</td>
                                    <td>{{ license.number }}</td>
                                    <td>{{ license.client.name }}</td>
                                    <td>{{ license.client.country.name }}</td>
                                    <td>{{ license.docubaseType.name }}</td>
                                    <td>{{ license.acquisitionDate | date:'dd/MM/YYYY' }}</td>
                                    <td>{{ license.expirationDate | date:'dd/MM/YYYY' }}</td>
                                    <td>{{ license.object }}</td>
                                    <td> 
                                        <a mat-raised-button class="btn btn-danger btn-circle btn-sm mr-2" data-toggle="modal" data-target="#deleteModal"><i class="fas fa-trash"></i></a>
                                        <a href="#" class="btn btn-info btn-circle btn-sm"><i class="fas fa-edit"></i></a>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>

        </div>
        <!-- /.container-fluid -->


    </div>
    <!-- End of Main Content -->
    <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
</a>
<!-- Delete Modal-->
<div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
aria-hidden="true">
<div class="modal-dialog" role="document">
    <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="exampleModalLabel">Voulez-vous supprimer cette licence?</h5>
            <button class="close" type="button" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">×</span>
            </button>
        </div>
        
        <div class="modal-footer">
            <button class="btn btn-secondary" type="button" data-dismiss="modal">Annuler</button>
            <a class="btn btn-primary" href="login.html">Supprimer</a>
        </div>
    </div>
</div>
</div>
    <app-footer></app-footer>

</div>
<!-- End of Content Wrapper -->
</div>


